# Go workspace file
go.work
go.work.sum

# Binaries
server
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.html

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

vendor
vendor/*